@model Domain.Contracts.CreateClientRequest
@{
    ViewData["Title"] = "Auth";
}

<div id="app"></div>

@section scripts {
    <script type="text/javascript" src="~/js/auth.js" asp-append-version="true"></script>
    <script>
        $(document).on('click', '#loginButton', function () {
            let message = {
                login: $('#loginString').val(),
                password: $('#passwordString').val(),
            };

            $.ajax({
                type: "POST",
                url: "/Auth/Login",
                data: JSON.stringify(message),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                beforeSend: function () {
                    document.getElementById("results").style.display = "block";
                    document.getElementById("results").style.color = "black";
                    $("#results").html('Загрузка...');              
                },
                success: function () {
                    document.getElementById("results").style.color = "green";
                    $('#results').html('Успех!');
                    setTimeout(function() {
                        window.location = '../Home/AdminPage';
                    }, 600);                   
                },
                error: function () {
                    document.getElementById("results").style.color = "red";
                    document.getElementById("results").classList.add('shake');
                    $('#results').html('Неверный логин или пароль!');
                    setTimeout(function() {
                        document.getElementById("results").classList.remove('shake');
                    }, 600);
                }
            });

            return false;
        })
    </script>
}