@model Domain.Contracts.CreateClientWithEmailRequest
@{
    ViewData["Title"] = "Auth";
}

<div id="app"></div>

@section scripts {
    <script type="text/javascript" src="~/js/auth.js" asp-append-version="true"></script>
    <script>
        $(document).on('click', '#loginButton', function () {
            let message = {
                loginMethod: "email",
                email: $('#emailString').val(),
                password: $('#passwordString').val(),
            };

            $.ajax({
                type: "POST",
                url: "/Auth/LoginWithEmail",
                data: JSON.stringify(message),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                beforeSend: function () {
                    document.getElementById("results").style.display = "block";
                    document.getElementById("results").style.color = "black";
                    $("#results").html('Загрузка...');              
                },
                success: function () {
                    document.getElementById("results").style.color = "green";
                    $('#results').html('Успех!');
                    setTimeout(function() {
                        window.location = '../Home/AdminPage';
                    }, 600);                   
                },
                error: function () {
                    document.getElementById("results").style.color = "red";
                    document.getElementById("results").classList.add('shake');
                    $('#results').html('Неверная почта или пароль!');
                    setTimeout(function() {
                        document.getElementById("results").classList.remove('shake');
                    }, 600);
                }
            });

            return false;
        })

        $(document).on('click', '#loginButton2', function () {
            let message = {
                loginMethod: "phoneNumber",
                phoneNumber: $('#phoneString').val(),
                password: $('#passwordString').val(),
            };

            let phone = {
                phoneNumber: $('#phoneString').val()
            };

            $.ajax({
                type: "POST",
                url: "/Auth/LoginWithPhoneNumber",
                data: JSON.stringify(message),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                beforeSend: function () {
                    document.getElementById("results").style.display = "block";
                    document.getElementById("results").style.color = "black";
                    $("#results").html('Загрузка...');
                },
                success: function () {
                    document.getElementById("results").style.color = "green";
                    $('#results').html('Успех!');
                    setTimeout(function() {
                        $.ajax({
                            type: 'POST',
                            url: '/Start/ConfirmAuth',
                            dataType: "html",
                            success: function (result) {
                                $("#app").html(result);

                                $.ajax({
                                    type: "POST",
                                    url: '/Auth/SendConfirmCodeForNumber',
                                    data: JSON.stringify(phone),
                                    contentType: "application/json; charset=utf-8",
                                });
                            },
                        });
                    }, 600);
                },
                error: function () {
                    document.getElementById("results").style.color = "red";
                    document.getElementById("results").classList.add('shake');
                    $('#results').html('Неверный номер телефона или пароль!');
                    setTimeout(function() {
                        document.getElementById("results").classList.remove('shake');
                    }, 600);
                }
            });

            return false;
        })

        $(function(){
            $("#phoneString").mask("+7 (999) 999-99-99");
        });
    </script>
}