@model Domain.Contracts.CreateClientWithEmailRequest
@{
    ViewData["Title"] = "ConfirmAuth";
}

<div id="main"></div>

@section scripts {
    <script type="text/javascript" src="~/js/confirm.js"></script>
}