@{
    ViewData["Title"] = "AdminPage";
}

<div id="app"></div>

@section scripts {
    <script type="text/javascript" src="~/js/admin.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/js/scripts/adminPage.js" asp-append-version="true"></script>
}